.videoCard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
  margin-bottom: 150px;
}

.videoCard > img {
  height: 300px;
  object-fit: contain;
  width: 500px;
}

.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > h2 {
  padding-top: 10px;
}

.movie__date-and-likes {
  display: flex;
  justify-content: space-between;
}

.vote__icon-and-count {
  display: flex;
  align-items: center;
}
